body {
	background-color: #2D9399;
	margin: auto;
}

#mainCol {
	margin: 0 auto;
	width: 900px;
}

.pull_right {
	float: right;
}

.pull_left {
	float: left;
}

#clock_span {
	display: inline-block;
	width: 20%;
}

#weather_span {
	display: inline-block;
	width: 80%;
}

#calendar_div {
	margin: auto;
}
